<!--! About Us -->
<section id="about" class="bg-gray-200 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 underline underline-offset-2">ABOUT US</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Left - Image -->
            <div class="flex items-center justify-center">
                <img loading="lazy" src="../../images/about.jpg" alt="About Us Image" class="h-full object-cover rounded-lg shadow-md grayscale">
            </div>
            <!-- Right - Text -->
            <div>
                <p class="text-lg text-justify text-gray-700 mb-4"><b>Our Story:</b> Miracles don't happen every day, but when they do, those at the receiving end often experience an explosion of mixed emotions. Some are stunned, others are amazed, and some experience great fear and shock.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">When I experienced my own miracle, I was initially speechless, then moved to tears by the unfolding of God's plan in my life. By human standards, becoming a mother seemed impossible, but with God, all things are possible. I'm in awe of His manifest glory. After a series of extensive medical checks, it was declared that biological motherhood would never happen for me. But God had a different plan.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Joshua Emmanuel, a miracle in himself, chose me to be his mother. With gratitude in our hearts, we made the conscious decision to be a miracle to others. The Lord lit our path, and now we must light the paths of others. Joshua & T's Foundation was established on his fifth birthday. When asked what he wanted for his birthday, he replied, "Mommy, I want to share my food with children who have none." Remembering stories about his Uncle Dr. T and his generosity, Joshua expressed his desire to follow in his footsteps. Since then, we've been running Joshua & T's Foundation, taking gradual steps toward progress.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Joshua & T's Foundation provides food for six underprivileged children once a month in a village in North West Cameroon. Year-end parties are organized for a wider group of children, and in 2023, we successfully fed 15 children and showered them with precious gifts.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Currently, we are supporting a widow through secondary school to empower her to guide these wonderful children through life and school. We aim to provide suitable accommodation for them while mentoring them and making education and well-being a priority. Six is just the beginning; our goal is to establish an orphanage in the near future.</p>
            </div>
        </div>
    </div>
</section>