<!--! About Us -->
<section id="about" class="bg-gray-200 py-12 px-4 sm:px-6 lg:px-8 min-h-screen">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 underline underline-offset-2">ABOUT US</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Left - Image -->
            <div class="flex items-center justify-center">
                <img src="../../images/about.jpg" alt="About Us Image" class="h-full object-cover rounded-lg shadow-md grayscale">
            </div>
            <!-- Right - Text -->
            <div>
                <p class="text-lg text-justify text-gray-700 mb-4">Mothers' Association for Action (MAA) was established in 2017 with a mission to promote child education and has since been dedicated to empowering underprivileged individuals through education. Our Education Programme focuses on children and adults living in challenging circumstances, including those forced into child labor, children from impoverished families, abandoned and street children, as well as individuals affected by disasters.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Our vision is to create an efficient organization where our standards are fully aligned with our goals and ethical principles.</p>
                <p class="text-gray-700 mb-1 text-lg"><strong>Commitment:</strong> We are committed to engaging individuals who share our organizational goals and values.</p>
                <p class="text-gray-700 mb-1 text-lg"><strong>Integrity:</strong> We uphold consistency and reliability in our actions, ensuring that we work with the right attitude and dedication to achieve our goals.</p>
                <p class="text-gray-700 mb-1 text-lg"><strong>Transparency:</strong> We maintain transparency in all our dealings, confidently addressing any challenges and disclosing any unethical situations that may arise, ensuring that our actions are consistent with our values.</p>
                <!-- Social Icons -->
                <!-- <div class="flex items-center space-x-4 mt-2">
                    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
    </div>
</section>
