<!--! About Us -->
<section id="about" class="bg-gray-200 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 underline underline-offset-2">ABOUT US</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Left - Image -->
            <div class="flex items-center justify-center">
                <img loading="lazy" src="../../images/about.jpg" alt="About Us Image" class="h-full object-cover rounded-lg shadow-md grayscale">
            </div>
            <!-- Right - Text -->
            <div>
                <p class="text-lg text-justify text-gray-700 mb-4">JT's foundation, representing both present and past. JT's foundation
                    represents the celebration of miracles (Joshua) and on the flip side of the coin, it celebrates the memory of a
                    short but profound life lived of Dr Terence (RIP), who transitioned into eternity in 2021. Dr Terence was only 37
                    years old.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Our hearts have remained broken ever since. Even with broken hearts,
                    our aim is to keep the light of Dr Terence shinning forever. We hope to keep touching hearts that are
                    underprivileged as we shine Dr Terence's light of feeding orphans and widows.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">At JT's foundation we know what it feels like to be in pain and
                    suffering but we also know what it feels like to be blessed with miracles.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Joshua wants his uncles light to keep shinning…… <br>Join him to keep
                    the light shinning….</p>

                <p class="text-lg text-justify text-gray-700 mb-4"><b>Our Story:</b> Miracles don't happen every day, but when they do, those at the receiving end often experience an explosion of mixed emotions. Some are stunned, others are amazed, and some experience great fear and shock.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">When I experienced my own miracle, I was mute at first, then moved to tears by the fatefuness of God unfolding in my life. By human standards, becoming a mum was impossible for me but with God all things were perfectly possible. I'm in awe of God's manifest glory. Following a long and painful period of extensive medical checks, it was declared that biological motherhood will NEVER happen for me. But God had a different idea.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Joshua Emmanuel, a miracle made perfect chose me to be his mum. With gratitude in our hearts, we have made the conscious decision to be a miracle onto others. The lord lit our path and now we must light others paths too. Joshua & T's foundation was birthed on his fifth birthday. I asked him what present he would like for his birthday, and his response was, Mummy I would like to share my food with any child who has no food to eat. He remembered my stories about his Uncle Dr T (RIP), how his community shared stories about his generosity towards children, widows, beggars and the oppressed and how he was fond of giving money to beggars on the street. Joshua took this all in and on his fifth birthday, he said to me, Mummy I think my Uncle T is a Saint. I would like to be a Saint too and I must share the things I have and give money to the poor and feed the hungry. We have successfully been running Joshua&T's foundation for over a year now, taking baby steps as we gradually continue to make progress.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">Joshua & T's foundation feeds a group of six very underprivileged and disadvantaged children once a month in a village in North West of Cameroon located in central West Africa. End of the year parties are organised for a wider group of children, and at the end of 2023, we successfully fed 15 children and showered them with little but precious gifts.</p>
                <p class="text-lg text-justify text-gray-700 mb-4">At the moment, we have managed to find a widow, whom we are currently educating through secondary school to enable her to gain the required knowledge to help lead and guide these wonderful children through life and school. We hope, in the very near future to be able to find a fit for purpose accommodation for them while mentoring them through life. We hope to make education and well being a priority for them. Six is ONLY a start; we hope to establish an orphanage in the foreseeable future.</p>
            </div>
        </div>
    </div>
</section>