<!--! Contact Us -->
<section id="contact" class="bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 underline underline-offset-2">CONTACT US</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Left - Map -->
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden shadow-md bg-gray-700 p-2">
                <!-- Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58939.06219886703!2d88.425879!3d22.590643000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02756d5718cb13%3A0x49350df6eb55553f!2sBJ%20Market%2C%20Salt%20Lake%20City!5e0!3m2!1sen!2sin!4v1713728576289!5m2!1sen!2sin"
                    height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="rounded-lg">
                </iframe>
            </div>
            <!-- Right - Contact Info -->
            <div class="flex flex-col justify-center bg-gray-700 rounded-lg shadow-md p-6">
                <div class="bg-white rounded-lg shadow-md p-6 cursor-pointer">
                    <h3 class="text-3xl font-semibold text-gray-800 mb-4">Contact Information</h3>
                    <!-- Email Section -->
                    <div class="text-gray-600">
                        <p class="text-lg flex items-center"><i class="fas fa-envelope mr-2"></i><span><strong>Email:</strong></span> <span class="ml-1">info.maa.kolkata@gmail.com</span></p>
                    </div>
                    <!-- Phone Section -->
                    <div class="text-gray-600 mt-4">
                        <p class="text-lg flex items-center"><i class="fas fa-phone-alt mr-2"></i><span><strong>Phone:</strong></span> <span class="ml-1">+91 90517 55573</span></p>
                    </div>
                    <!-- Address Section -->
                    <div class="text-gray-600 mt-4">
                        <p class="text-lg"><i class="fas fa-map-marker-alt mr-2"></i><strong>Address To Visit Our Office:</strong></p>
                        <p class="text-lg pl-8">BJ-28 (1st Floor),</p>
                        <p class="text-lg pl-8">Sector-II, Salt Lake City,</p>
                        <p class="text-lg pl-8">Kolkata, West Bengal</p>
                    </div>
                </div>
                <!-- Socials -->
                <div class="flex items-center space-x-4 m-4">
                    <a href="#" class="text-white text-3xl hover:text-green-400 transition-all duration-300"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white text-3xl hover:text-green-400 transition-all duration-300"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white text-3xl hover:text-green-400 transition-all duration-300"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" class="text-white text-3xl hover:text-green-400 transition-all duration-300"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
