<!--! Donate Component -->
<!--? Account Details -->
<section class="bg-gray-600 py-20 px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-4xl font-bold text-gray-100 mb-6 uppercase underline underline-offset-8">Support Our Cause</h2>
        <p class="text-lg text-gray-300 mb-8">Your contribution helps us make a difference!</p>
        <div class="flex flex-col md:flex-row justify-center items-start space-y-8 md:space-y-0 md:space-x-12">
            <!-- QR Code Section -->
            <div class="flex flex-col items-center mx-auto cursor-pointer">
                <div class="bg-white rounded-lg shadow-md p-2 mb-4">
                    <img src="../../images/qr-code.jpeg" alt="QR Code" class="w-60 h-60 object-cover rounded-lg">
                </div>
                <p class="text-lg font-semibold text-gray-100">Scan and pay using UPI</p>
                <p class="text-gray-300">UPI ID: trishna.d75@oksbi</p>
            </div>
            <!-- Bank Account Details Section -->
            <div class="bg-white rounded-lg shadow-md p-6 flex flex-col">
                <h3 class="text-3xl font-semibold text-gray-700 mb-4 border-b border-b-gray-800 uppercase">Bank Account Details</h3>
                <table class="w-full text-left cursor-pointer">
                    <tbody>
                        <tr>
                            <td class="text-lg text-gray-600 font-semibold pr-4 pb-2">Bank Name:</td>
                            <td class="text-lg text-gray-600 pb-2">Punjab National Bank</td>
                        </tr>
                        <tr>
                            <td class="text-lg text-gray-600 font-semibold pr-4 pb-2">Account Number:</td>
                            <td class="text-lg text-gray-600 pb-2">4656002100005254</td>
                        </tr>
                        <tr>
                            <td class="text-lg text-gray-600 font-semibold pr-4 pb-2">Beneficiary Name:</td>
                            <td class="text-lg text-gray-600 pb-2">Mothers Association for Action</td>
                        </tr>
                        <tr>
                            <td class="text-lg text-gray-600 font-semibold pr-4 pb-2">IFSC Code:</td>
                            <td class="text-lg text-gray-600 pb-2">PUNB0465600</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!--? Short Info -->
<section class="bg-gray-600 py-9 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto text-center">
        <p class="border rounded-md py-1 text-lg font-semibold text-gray-300 uppercase">Join us in making a difference in the lives of mothers and children. Together, we can create a brighter future!</p>
    </div>
</section>