<section class="py-12 px-4 sm:px-6 lg:px-8 bg-gray-100">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="../../images/gallery/image1.jpg" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473649085228-583485e6e4d7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473605768212-7e1f2c756179?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="../../images/gallery/image1.jpg" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473649085228-583485e6e4d7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473605768212-7e1f2c756179?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="../../images/gallery/image1.jpg" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473649085228-583485e6e4d7?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
                <img class="object-cover w-full h-full cursor-pointer" src="https://images.unsplash.com/photo-1473605768212-7e1f2c756179?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
    </div>
</section>
