<div id="home" class="Home w-full min-h-screen bg-red-400 flex flex-col md:flex-col lg:flex-row justify-center items-center gap-8 text-white p-10">
    <!-- Left -->
    <div class="left w-full text-left p-6 sm:p-10 lg:p-20 mt-10">
        <h1 class="text-6xl sm:text-6xl lg:text-9xl font-bold mb-2 text-white">Mother's</h1>
        <h1 class="text-6xl sm:text-6xl lg:text-9xl font-bold mb-2 text-white">Association</h1>
        <h1 class="text-6xl sm:text-6xl lg:text-9xl font-bold mb-4 text-white">For Action</h1>
        <!-- <a href="#" class="mt-4 sm:mt-8 bg-red-400 text-white px-6 py-3 rounded-full inline-block hover:bg-red-600 transition duration-300 ease-in-out">Get Involved</a> -->
    </div>

    <!-- Right -->
    <div class="right w-full lg:w-1/2 flex items-center justify-center">
        <div class="p-6 sm:p-8 lg:p-10 rounded-lg shadow-2xl w-full max-w-md border-2 flex flex-col gap-10">
            <div class="img">
                <img src="../../images/mother.png" alt="Mission Image" class="w-full h-auto rounded-lg">
            </div>            

            <div class="text">
                <h2 class="text-base sm:text-lg lg:text-xl font-bold mb-2 text-white">It's not how much we give but how much love we put into giving.</h2>
                <p class="text-xs sm:text-sm lg:text-base text-white">- Mother Teresa</p>
            </div>
        </div>
    </div>
</div>
