<!--! Hero/Home -->
<section id="home" class="hero bg-gray-200 sm:min-h-fit flex justify-center items-center">
        <div class="right flex flex-wrap">
            <img class="w-full" src="../../images/hero1.webp" alt="heroImg">
        </div>
</section>

<!--! Short Info -->
<section class="bg-gray-700 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-4xl font-bold text-yellow-300 mb-2 uppercase">Welcome to JT's Foundation</h2>
        <h3 class="text-2xl font-bold text-gray-100 mb-6 italic">"Shine the Light and Touch a Life"</h3>
        <p class="text-lg text-gray-200 mb-8 uppercase">Join us financially, physically, and spiritually as we explore boundless opportunities to make a difference in the lives of the underprivileged. Your support is vital to empower and uplift through JT's Foundation.</p>
        <div class="flex justify-center gap-5">
            <a href="/donate/#donate" class="donate-btn text-center w-full sm:w-auto flex items-center justify-center gap-3 cart-icon text-xl font-bold px-8 sm:px-6 h-14 sm:h-16 cursor-pointer bg-yellow-300 hover:bg-[#9244AD] hover:text-white text-[#254151] transition-all duration-500 ease-in-out">DONATE NOW</a>
            <a href="#" class="learn-more-btn text-center w-full sm:w-auto flex items-center justify-center gap-3 cart-icon text-xl font-bold px-8 sm:px-6 h-14 sm:h-16 cursor-pointer bg-yellow-300 hover:bg-[#9244AD] hover:text-white text-[#254151] transition-all duration-500 ease-in-out">LEARN MORE</a>
        </div>
    </div>
</section>