<!--! Hero/Home -->
<section id="Home" class="Hero bg-gray-200 px-3 md:px-10 lg:px-20 h-screen flex justify-center items-center">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2">
        <!-- Left -->
        <div class="left flex flex-col justify-center items-start p-10">
            <h5 class="text-xl italic">Mother's Association</h5>
            <h2 class="text-7xl font-bold">Donate Now</h2>
            <a href="#items" class="my-10 text-2xl font-semibold px-6 py-2 border-2 rounded-full border-black cursor-pointer hover:bg-green-500 transition-all duration-200 hover:text-white hover:border-green-600">Donate</a>
        </div>
    
        <!-- Right -->
        <div class="right flex justify-center">
            <img class="w-full rounded-md" src="../../images/mother.png" alt="">
        </div>
    </div>
</section>