<!--! HTML Top  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mother's Association For Action</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/5570bdf1f9.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/logo-white.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll/dist/locomotive-scroll.min.css"> -->
</head>
<body class="font-sans" id="smooth-div">