<!--! Our Initiatives -->
<section class="bg-gray-300 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <!-- Vision Box -->
            <div class="bg-blue-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Our Vision</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">We envision a world where education is accessible to all, regardless of socio-economic background.</p>
                <a href="#about" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Learn More</a>
            </div>
            <!-- Cause Box -->
            <div class="bg-green-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Our Cause</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">We're dedicated to providing quality education and opportunities for underprivileged communities.</p>
                <a href="#journey" class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Get Involved</a>
            </div>
            <!-- Fundraising Box -->
            <div class="bg-yellow-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Fundraising Campaign</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">Support our mission by contributing to our fundraising efforts. Every donation makes a difference.</p>
                <a href="/donate" class="inline-block bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Donate Now</a>
            </div>
            <!-- Fourth Box -->
            <div class="bg-red-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Empowering Communities</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">We empower communities through education, creating lasting change and opportunities for all.</p>
                <a href="#contact" class="inline-block bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Join Us</a>
            </div>
        </div>
    </div>
</section>