<!--! Our Initiatives -->
<section class="bg-gray-300 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
            <!-- Vision Box -->
            <div class="bg-blue-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">What Do We Do?</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">Currently feeding 6 Orphans and 2 widows once a month, Plus sponsoring 1 widow through school to equip her with the knowledge and skills she needs to run the foundation</p>
                <a href="#about" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Learn More</a>
            </div>
            <!-- Cause Box -->
            <div class="bg-green-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Our dream</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">To be able to build an orphanage and be a one stop shop for these kids nurturing them through education whilst looking after their mental health and wellbeing.</p>
                <a href="#journey" class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Get Involved</a>
            </div>
            <!-- Fundraising Box -->
            <div class="bg-yellow-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Fundraising Campaign</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">Support our mission by contributing to our fundraising efforts. Every donation makes a difference.</p>
                <a href="/donate" class="inline-block bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Donate Now</a>
            </div>
            <!-- Fourth Box -->
            <div class="bg-red-200 rounded-sm shadow-md p-12 text-center">
                <h3 class="text-3xl font-bold text-gray-800 mb-6">Empowering Communities</h3>
                <p class="text-gray-700 text-lg leading-relaxed mb-6">Prayer - Please put through your prayer requests for the foundation. We are also looking for prayer intercessors to stand in the gap, if you are lead please kindly let us know. </p>
                <a href="#contact" class="inline-block bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-8 rounded-full transition duration-300">Join Us</a>
            </div>
        </div>
    </div>
</section>