<!--! Our Journey -->
<section id="journey" class="journey bg-gray-100 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold mb-8 underline underline-offset-4">OUR JOURNEY</h1>
        <div class="flex flex-nowrap overflow-x-auto">
            <!-- Cards -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer mr-4 flex-shrink-0 w-[550px]">
                <div class="p-2 bg-gray-300 hover:bg-gray-500 transition-all duration-300">
                    <!-- Card Content with 1 Landscape Image -->
                    <div class="flex items-center justify-center">
                        <img src="https://images.unsplash.com/photo-1608342381036-15657da6bf58?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-full h-full rounded-md object-cover object-center" alt="img">
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer mr-4 flex-shrink-0 w-[550px]">
                <div class="p-2 bg-gray-300 hover:bg-gray-500 transition-all duration-300">
                    <!-- Card Content with 1 Landscape Image -->
                    <div class="flex items-center justify-center">
                        <img src="https://images.unsplash.com/photo-1608342381036-15657da6bf58?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-full h-full rounded-md object-cover object-center" alt="img">
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer mr-4 flex-shrink-0 w-[550px]">
                <div class="p-2 bg-gray-300 hover:bg-gray-500 transition-all duration-300">
                    <!-- Card Content with 1 Landscape Image -->
                    <div class="flex items-center justify-center">
                        <img src="https://images.unsplash.com/photo-1608342381036-15657da6bf58?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="w-full h-full rounded-md object-cover object-center" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>