<section id="members" class="members bg-gray-200 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold mb-8 underline underline-offset-4">OUR MEMBERS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            <!-- Card 1 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member3.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Euphrasia Ngum (NDI) & Joshua NDI</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(The founders)</p>
                        <p class="text-xl font-bold text-gray-900">Euphrasia Ngum (NDI)</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Chairperson)</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member4.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Maria chiy</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Secretary)</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member1.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Praxides Anjie Keba</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Board Member)</p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member2.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Josephine Cerqua</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Board Member)</p>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member5.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Augusta Kuna Tita</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Board Member)</p>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div
                class="bg-white rounded-md shadow-md overflow-hidden cursor-pointer transition-transform transform hover:scale-105 duration-300">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img loading="lazy" src="/images/members/member6.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center border-4 border-white shadow-lg"
                            alt="NGO Owners">
                    </div>
                    <div class="mt-4 text-center">
                        <p class="text-xl font-bold text-gray-900">Dr. Yvonne W. Joko-Fru</p>
                        <p class="mt-2 text-lg text-gray-700 italic">(Board Member)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>