<section id="members" class="members bg-gray-200 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold mb-8 underline underline-offset-4">OUR MEMBERS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            <!-- Card 1: Trisha Das -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/swapan-das.png"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">I trust "I can't change the direction of the wind, but I can adjust my sails to always reach my destination." by Jimmy Dean.</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Trishna Das <span class="italic">(Chairperson & Managing Trustee)</span></p>
                        <!-- <p class="mt-1 text-sm leading-5 text-gray-500 text-center">Treasurer</p> -->
                    </div>
                </div>
            </div>
            <!-- Card 2 Swapan Das-->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/swapan-das.png"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">I believe in "If I am not for
                            myself, who will be for me? If I am not for others, what am I? And if not now, when?" by
                            Rabbi Hollel.</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Swapan Das <span class="italic">(Treasurer)</span></p>
                        <!-- <p class="mt-1 text-sm leading-5 text-gray-500 text-center">Treasurer</p> -->
                    </div>
                </div>
            </div>
            <!-- Card 3 Madhurima Paul -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/swapan-das.png"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">I agree "You will face many defeats in life, but never let yourself be defeated." by Maya Angelou</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Madhurima Paul <span class="italic">(Educator & Coordinator)</span></p>
                        <!-- <p class="mt-1 text-sm leading-5 text-gray-500 text-center">Treasurer</p> -->
                    </div>
                </div>
            </div>

            <!-- Add more cards here -->
        </div>
    </div>
</section>