<section id="members" class="members bg-gray-200 py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold mb-8 underline underline-offset-4">OUR MEMBERS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
            <!-- Card 1 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/member1.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum similique corrupti eveniet nobis qui ad corporis impedit officia ducimus provident.</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Your Name <span class="italic">(Your Role)</span></p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/member1.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum similique corrupti eveniet nobis qui ad corporis impedit officia ducimus provident.</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Your Name <span class="italic">(Your Role)</span></p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <img src="../../../images/members/member1.jpg"
                            class="h-32 w-32 md:h-48 md:w-48 rounded-full object-cover object-center" alt="NGO Owners">
                    </div>
                    <div class="mt-4">
                        <p class="text-lg leading-6 font-semibold text-gray-900 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum similique corrupti eveniet nobis qui ad corporis impedit officia ducimus provident.</p>
                        <p class="mt-2 text-base leading-6 text-gray-700 text-center font-semibold">- Your Name <span class="italic">(Your Role)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>