<!--! Navbar -->
<nav class="bg-white border-gray-200 dark:bg-red-400 fixed w-full">
  <div class="w-full flex flex-wrap items-center justify-between mx-auto p-2 px-8">
    <a href="/" class="flex items-center ">
        <img src="../images/logo-white.png" class="sm:h-14 h-12" alt="Logo"/>
        <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Mother's Association</span> -->
    </a>
    <button id="mobile-menu-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-white dark:text-white dark:hover:bg-transparent dark:focus:ring-[#2f2f2f]-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="transition-all duration-200 font-medium flex flex-col p-4 items-center md:p-0 mt-4 border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-transparent">
        <li class="sm:hover:underline sm:underline-offset-8 decoration-red text-white">
            <a href="#home" class="block py-2 px-3 text-white rounded hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:dark:hover:text-black dark:hover:bg-white dark:hover:text-[#2f2f2f] md:dark:hover:bg-transparent" aria-current="page">Home</a>
        </li>
        <li class="sm:hover:underline sm:underline-offset-8 decoration-red text-white">
            <a href="#members" class="block py-2 px-3 text-white rounded hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:dark:hover:text-black dark:hover:bg-white dark:hover:text-[#2f2f2f] md:dark:hover:bg-transparent">Member</a>
        </li>
        <li class="sm:hover:underline sm:underline-offset-8 decoration-red text-white">
            <a href="#contact" class="block py-2 px-3 text-white rounded hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:dark:hover:text-black dark:hover:bg-white dark:hover:text-[#2f2f2f] md:dark:hover:bg-transparent">Contact</a>
        </li>
        <li class="sm:hover:underline sm:underline-offset-8 decoration-red text-white">
            <a href="#gallery" class="block py-2 px-3 text-white rounded hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:dark:hover:text-black dark:hover:bg-white dark:hover:text-[#2f2f2f] md:dark:hover:bg-transparent">Gallery</a>
        </li>
        <li class="sm:hover:underline sm:underline-offset-8 decoration-red text-white">
            <a href="#donate" class="block py-2 px-3 text-white rounded hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:dark:hover:text-black dark:hover:bg-white dark:hover:text-[#2f2f2f] md:dark:hover:bg-transparent">Donate</a>
        </li>
    </ul>
    
    </div>
  </div>
</nav>

<script>
  // JavaScript to toggle the mobile menu
  document.getElementById('mobile-menu-toggle').addEventListener('click', function(event) {
    let navbar = document.getElementById('navbar-default');
    navbar.classList.toggle('hidden');
    event.stopPropagation(); // Prevents the click event from reaching the document
  });

  // Close the mobile menu when clicking outside the navbar
  document.addEventListener('click', function(event) {
    let navbar = document.getElementById('navbar-default');
    if (navbar && !navbar.contains(event.target)) {
      navbar.classList.add('hidden');
    }
  });

  // Unhide the navbar when a navigation item is clicked
  let navLinks = document.querySelectorAll('#navbar-default a');
  navLinks.forEach(function(link) {
    link.addEventListener('click', function() {
      let navbar = document.getElementById('navbar-default');
      navbar.classList.add('hidden');
    });
  });
</script>