<!--! Navbar  -->
<nav class="bg-gray-700 text-white px-3 md:px-0 py-1 md:py-0 w-full sticky top-0 z-10">
    <div class="flex flex-wrap items-center justify-between md:justify-center lg:justify-between gap-5 mx-auto px-0 py-8 sm:py-0">
        <!-- Part-1 (First)-->
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse lg:pl-9">
            <div class="overflow-hidden">
                <img src="../../images/logo-white.png" alt="Logo" class="h-12 w-12" />
            </div>
            <span
                class="self-center text-xl font-bold whitespace-nowrap hover:text-red-500 transition-all duration-300 ease-in-out">MOTHER'S ASSOCIATION</span>
        </a>

        <!-- Hidden Button For Mobile -->
        <button id="mobile-menu-toggle" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:text-red-500 transition-all duration-300 ease-in-out"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <i class="fa-solid fa-bars text-3xl"></i>
        </button>

        <!-- Part-2 (Middle) -->
        <div class="hidden w-full h-screen sm:h-auto md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col justify-center items-center p-4 md:p-0 mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-6 rtl:space-x-reverse md:mt-0 md:border-0 bg-transparent">
                <li class="py-3">
                    <a href="/#home" class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">Home</a>
                </li>
                <li class="py-3">
                    <a href="/#members" class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">Members</a>
                </li>
                <li class="py-3">
                    <a href="/#journey" class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">Journey</a>
                </li>
                <li class="py-3">
                    <a href="/#about"
                        class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">About</a>
                </li>
                <li class="py-3">
                    <a href="/#contact"
                        class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">Contact</a>
                </li>
                <li class="py-3">
                    <a href="/gallery"
                        class="text-base hover:text-red-500 focus:text-red-500 transition-all duration-300 ease-in-out">Gallery</a>
                </li>
            </ul>
        </div>

        <!-- Part-3 (Donate) -->
        <div class="donate-btn text-center w-full sm:w-auto sm:hidden lg:flex items-center justify-center gap-3 cart-icon text-xl font-bold px-8 sm:px-6 h-10 sm:h-16 cursor-pointer bg-yellow-300 hover:bg-red-500 hover:text-white text-[#254151] transition-all duration-500 ease-in-out">
            <a href="/donate/#donate" class="flex items-center justify-center pt-1 sm:pt-0">DONATE</a>
        </div>
    </div>
</nav>

<!--! Sidebar with Social Icons (Hidden on Mobile and Tablet) -->
<div class="hidden lg:flex fixed top-0 right-0 h-auto flex-col items-center justify-center space-y-4 p-4 bg-yellow-300 transform translate-y-1/2">
    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-x-twitter"></i></a>
    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="text-gray-700 text-3xl hover:text-red-500 transition-all duration-300"><i class="fab fa-instagram"></i></a>
</div>


<script>
    // JavaScript to toggle the mobile menu and icon
    let mobileMenuToggle = document.getElementById('mobile-menu-toggle');
    mobileMenuToggle.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        navbar.classList.toggle('hidden');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-bars');
        mobileMenuToggle.querySelector('i').classList.toggle('fa-times');
        event.stopPropagation(); // Prevents the click event from reaching the document
    });

    // Close the mobile menu when clicking outside the navbar
    document.addEventListener('click', function (event) {
        let navbar = document.getElementById('navbar-default');
        if (navbar && !navbar.contains(event.target)) {
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        }
    });

    // Unhide the navbar when a navigation item is clicked
    let navLinks = document.querySelectorAll('#navbar-default a');
    navLinks.forEach(function (link) {
        link.addEventListener('click', function () {
            let navbar = document.getElementById('navbar-default');
            navbar.classList.add('hidden');
            mobileMenuToggle.querySelector('i').classList.remove('fa-times');
            mobileMenuToggle.querySelector('i').classList.add('fa-bars');
        });
    });
</script>