<!--! Visit Our Head Office -->
<section class="bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 mb-6 underline underline-offset-2">Head Office Location</h2>
        <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden">
            <!-- Map -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58939.06219886703!2d88.425879!3d22.590643000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02756d5718cb13%3A0x49350df6eb55553f!2sBJ%20Market%2C%20Salt%20Lake%20City!5e0!3m2!1sen!2sin!4v1713728576289!5m2!1sen!2sin"
                height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="mt-8 text-center">
            <p class="text-lg text-gray-600">Visit our head office located in Kolkata, West Bengal</p>
            <p class="text-lg text-gray-600"> BJ-28 (1st Floor) Sector-II, Salt Lake City</p>
        </div>
    </div>
</section>
