<!--! Main Views File -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mother's Association For Action</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/5570bdf1f9.js" crossorigin="anonymous"></script>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
</head>
<body class="font-sans">

    <!-- Navbar -->
    <%- include('./partials/Navbar.ejs') %>

    <!-- Home -->
    <%- include('./partials/Home.ejs') %>

    <!-- Footer -->
    <%- include('./partials/Footer.ejs') %>

</body>
</html>